@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900|M+PLUS+Rounded+1c:100,300,400,500,700,800,900|Noto+Sans+JP:100,300,400,500,700,900&subset=japanese');

/* bodyの余白は一旦消す */
body {
	background-color: #fdfcff;
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #4d4d4d;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

article {
	/* 余白設定 */
	margin: 10px;

	/* フォント設定 */
	color: #4d4d4d;
}

/* 本文は少し下げる */
.text {
	margin: 20px;
}

/* articleで余白とか設定するので0pxに */
h1 {
	/* 余白設定 */
	margin: 0px;

	/* フォント設定 */
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
}

h2 {
	/* 余白設定 */
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 1px;
	border-bottom: #4d4d4d 2px solid;

	/* フォント設定 */
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

ul.collectDataList {
	margin-left: 20px;
}
